* {
  background: var(--rich-black);
  margin: 0;
}

:root {

  /* Details */
  --RedSalsa: #f94144;
  --OrangeRed: #f3722c;
  --YellowOrange: #f9a339;
  --MaizeCrayola: #f9c74f;
  --Pistachio: #90be6d;
  --Zomp: #43aa8b;
  --CadetBlue: #4d908e;
  --QueenBlue: #577590;
  --BlueGreen: #3098c5;
  --CeruleanCrayola: #43a1ca;

  /* Background - Grey Scale */
  --cultured: #f8f9faff;
  --cultured-2: #e9ecefff;
  --gainsboro: #dee2e6ff;
  --light-grey: #ced4daff;
  --cadet-blue-crayola: #adb5bdff;
  --slate-grey: #6c757dff;
  --davys-grey: #495057ff;
  --gunmetal: #343a40ff;
  --charleston-green: #212529ff;
  --rich-black-fogra-39: #080708ff;
  --rich-black: #010509dd;
}